package pages

import "github.com/ineersa/blog/templates/partials"
import "github.com/ineersa/blog/structs"

// BodyContent defines HTML content.
templ AboutBodyContent(metadata structs.Metadata) {
	@partials.About(metadata)
}
